@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-sriracha: 'Sriracha', cursive;
    --fonte-titulo: 'passion-one', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.passion-one-regular {
font-family: "Passion One", sans-serif;
font-weight: 400;
font-style: normal;
}

.passion-one-bold {
font-family: "Passion One", sans-serif;
font-weight: 700;
font-style: normal;
}

.passion-one-black {
font-family: "Passion One", sans-serif;
font-weight: 900;
font-style: normal;
}
  

body{
    color: white;
    margin: 0px;
    height: 98vh;
}

header{
    background-color: black;
    font-family: var(--fonte-sriracha);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

h2{
    font-family: var(--fonte-sriracha);
}

main{
    background-color: white;
    
    
}

div.caixa{
    color: black;
    
}

div.texto{
    text-align: left;
    max-width: 500px;
    font-size: 30px;
    padding: 40px;
    color: black;
    
}

div.textob{
    text-align: left;
    max-width: 500px;
    font-size: 30px;
    padding: 40px;
    color: white;
    
}
.textob h2{
    background-color: rgba(0, 0, 0, 0.322);
    margin: 10px;
    
}

#a2{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;    
}

#a4{
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;

}

#t2 h2{
    color:  white;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
   }